body {
    width: 100%;
    height: 100%;
    padding: 9;
    margin: 0;
    font-family: "Proxima Nova",Arial,sans-serif;
}

.link{
    text-decoration: none;
}

.sticky{
     position: fixed;
     width: 100%;
     top: 0;
      
}




